[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
pytest-cov = "*"

[packages]
requests = "*"
rdflib = "*"
rdflib-jsonld = "*"
argparse = "*"
flask = "*"
pygments = "*"
flask-bootstrap = "*"
wtforms = "*"
flask-wtf = "*"
graphviz = "*"
gunicorn = "*"
pytest = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
