{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
<div class="formwrapper">
  <h1>RDF Inquisitor</h1>
  <form action="/" method="post" name="search" class="navbar-form navbar-left">
                                <div class="form-group">
                                    {{ form.uri(class="form-control", size=50, placeholder="Specify URI") }}
                                    {{ form.language()}}
                                </div>
                                {{ form.submit }}
                                <input type="submit" value="Go">
                            </form>
    </div>
    {% if results %}
    {{results}}
    {% endif %}
{% endblock %}